.recommend {
    border-bottom: 0.3rem solid #fff;
}
.poster {
    height: 12rem;
    background-image: url(img/task8-2-1.png);
    background-size: cover;
    background-position: center;
}
.tag {
    font-size:1rem;
    padding:2rem 15%;
    background: #fafafa;
    span {
        color: #29b078;
    }
}
main {
    background: #fafafa;
    padding: 0 15% 3rem;
    .sidebar {
        border: 0.1rem solid #f6f6f6;
        background: #fff;
        h6 {
            padding: 2rem 0;
            margin: 0;
            border-bottom: 0.1rem solid #f6f6f6;
        }
        ul {
            margin: 0;
            padding-left: 46%;
            list-style-type: circle;
            font-size: 1rem;
            li {
                color :#ff640c;
                .text1 {
                    list-style-type: disc;
                    color :#ff640c;
                }
                p {
                    color: #29b078;
                }
            }
        }
    }
}
@mixin max-screen ($res1) {
    @media all and ( max-width: $res1 ){
        @content;
    }
}
@include max-screen(768px) {
    .sidebar {
        margin-bottom: 3rem;
    }
    .poster {
        height: 15vw;
    }
}
.article {
    border: 0.1rem solid #f6f6f6;
    background: #fff;
    .msg1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  1rem 0;
        border-bottom: 0.1rem solid #9a9a9a;
        font-size: 1rem;
        color: #9a9a9a;
    }
    .msg2 {
        padding-bottom: 5rem;
        font-size: 1rem;
        color: #9a9a9a;
        text-indent: 2rem;
    }
}
@mixin min-screen ($res2) {
    @media all and (min-width: $res2){
        @content;
    }
}
@include min-screen (768px) {
    main {
        float: left;
    }
    .sidebar {
        float: left;
        width: 25%;
    }
    .sidebar ul {
        padding-left: 43%;
    }
    .article {
        float: right;
        width: 70%;
    }
}
